.container {
  height: 596px;
}

.container-fluid {
  background-color: #282c34;
  color: white;
}

.row {
  height: 596px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.courtImage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/tenniscourt.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.toss-button {
  width: 50%;
  background-color: brown;
  border-color: #fff;
  color: #fff;
  position: absolute;
  top: 280px;
  height: 50px;
}

.toss-status {
  position: absolute;
  top: 280px;
}


.match-status {
  position: absolute;
  top: 280px;
}